@font-face{
    font-family: Roboto;
    src: url('../font-styles/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: Lato;
    src: url('../font-styles/Lato/Lato-Regular.ttf');
}
@font-face{
    font-family: Montserrat;
    src: url('../font-styles/Montserrat/Montserrat-Regular.ttf');
}
@font-face{
    font-family: Poppins;
    src: url('../font-styles/Poppins/Poppins-Regular.ttf');
}