/* POST SECITON */
.post-section.grid{
  column-gap: 40px; 
}

.post-section .article{
  grid-column: 1 / 9;
}

.post-section .aside {
  grid-column: 9 / 13;
}


/* POST STYLE*/
.post {
  padding: 10px 10px 6px 10px;
  border-bottom: 1px solid rgb(231, 229, 229);
}

.post .post-details h2,
.post .post-details h4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post .post-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* POST BIO */
.post-bio{
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 5px;
  font-size: 12px;
}

.post-bio .category{
  font-weight: 600;
  padding-left: 10px;
  position: relative;
}
.post-bio .category a{
  color: #222;
}
.post-bio .category::before{
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #333;
}


/* LARGE POST */
.post-large {
  display: flex;
  column-gap: 15px;
  margin-bottom: 30px;
}
.post-large .post-img {
  height: 120px;
  width: 180px;
  min-width: 180px;
}
.post-large .post-details .title{
  margin-bottom: 10px;
  font-size: 22px;
}
.post-large .post-details .title a{
  color: #111;
}
.post-large:hover .title a{
  color: var(--secondary-color);
}
.post-large .post-details .description {
  margin-top: 12px;
  font-size: 15px;
  color: #767676;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* SMALL POST */
.post-small{
  padding: 0;
  margin-bottom: 10px;
}
.post-small a{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  color: #000;
  padding: 4px;
}
.post-small .post-img {
  min-width: 70px;
  width: 70px;
  height: 50px;
}


/* SLIDER POST */
#slider-posts{
  margin-top: 20px;
}
#slider-posts .owl-carousel{
  padding: 5px;
}
#slider-posts .owl-carousel .item{
  padding: 10px;
}
#slider-posts .owl-carousel .item:hover {
  background-color: #f6f6f6;
  box-shadow: 0 0 3px lightgray;
}
.post-box .post-img{
  height: 180px;
}
.post-box .post-details{
  color: #000;
}
.post-box .post-details h4{
  font-size: 22px;
  text-align: center;
  margin: 10px 0 8px 0;
}
.post-box .post-details p{
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}


/*  ###  POST DETAILS PAGE  ###  */
.post-header{
  margin-bottom: 20px;
}
#post-details .article .title{
  font-size: 34px;
  margin: 0 0 15px 0;
}

#post-details .article .post-details p{
  color: #111;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 18px;
}

#post-details .post-bio{
  display: flex;
  column-gap: 15px;
  font-size: 14px;
}

#post-details .post-bio .category{
  font-weight: 600;
  padding-left: 10px;
  position: relative;
}
#post-details .post-bio .category a{
  color: #111;
}
#post-details  .post-bio .category::before{
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #333;
}

/* Author Cart */
#post-details .author-card{
  margin-bottom: 40px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
}
#post-details .author-card .author-img{
  height: 100px;
  width: 100px;
  min-width: 100px;
  border-radius: 50%;
  margin: auto;
}
#post-details .author-card .author-img img{
  object-fit: cover;
  border-radius: 50%;
}

#post-details .author-card .author-details{
  margin-top: 15px;
  text-align: center;
}
#post-details .author-card .author-details h3{
  margin-bottom: 8px;
}


/* ###  MEDIA QUERIES  ### */

 @media only screen and (max-width: 1024px) {
  .post-section.grid{
    row-gap: 30px; 
    column-gap: 0;
  }
  .post-section.grid .article {
    grid-column: 1 / 13;
  }
  .post-section.grid .aside {
    grid-column: 1 / 13;
  }
}


@media only screen and (max-width: 768px) {
  .post-large{
    flex-direction: column;
    margin: 0 auto 20px auto;
    max-width: 480px;
  }
  .post-large .post-img{
    width: 100%;
    height: auto;
  }
  .post-large .title{
    margin-top: 10px;
  }
}
